@page
@model LibraryAccounting.Pages.BookActions.AddModel
@{
    ViewData["Title"] = "Добавить книгу";
}
<h2>@ViewData["Title"]</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewBook.ISBN" class="control-label"></label>
                <input asp-for="NewBook.ISBN" class="form-control" />
                <span asp-validation-for="NewBook.ISBN" class="text-danger"/>
            </div>
            <div class="form-group">
                <label asp-for="NewBook.Title" class="control-label"></label>
                <input asp-for="NewBook.Title" class="form-control" />
                <span asp-validation-for="NewBook.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewBook.Author" class="control-label"></label>
                <input asp-for="NewBook.Author" class="form-control" />
                <span asp-validation-for="NewBook.Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewBook.PublishedBy" class="control-label"></label>
                <input asp-for="NewBook.PublishedBy" class="form-control" />
                <span asp-validation-for="NewBook.PublishedBy" class="text-danger" />
            </div>
            <div class="form-group">
                <label asp-for="NewBook.PublishedDate" class="control-label"></label>
                <input type="date" asp-for="NewBook.PublishedDate" class="form-control" />
                <span asp-validation-for="NewBook.PublishedDate" class="text-danger" />
                @Html.ValidationMessage("InvalidPublishedDate")
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-success" asp-page-handler="Add"/>
                <input type="submit" class="cancel btn btn-outline-danger" value="Отмена" asp-page-handler="Cancel"/>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}