@page
@model LibraryAccounting.Pages.Admin.StatsModel
@{
    ViewData["Title"] = "Stats";
}

<h1>@ViewData["Title"]</h1>
<h2>@Model.Message</h2>

<p>@Model.RouteDataGlobalTemplateValue</p>

<p>@Model.RouteDataOtherPagesTemplateValue</p>
