@page
@model LibraryAccounting.Pages.Account.AboutMeModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@{ ViewData["Title"] = "Личный кабинет"; }

@if (Model.EmployeeInfo != null)
{
    <h2>@ViewData["Title"]</h2>
    <div class="row">
        <div class="col-md-12">
            <h4>Имя:@Model.EmployeeInfo.FullName</h4>
            <div class="col-md-10">
                <h4>
                    Рабочая почта: @Model.EmployeeInfo.WorkEmail
                </h4>
                <h4>
                    Личная почта: @Model.EmployeeInfo.PersonalEmail
                </h4>
                <h4>
                    Телефон: @Model.EmployeeInfo.PersonalPhone
                </h4>
            </div>
            <div class="col-md-2">
                <a class="btn btn-danger" asp-page-handler="Logout" asp-anti-forgery="true">
                    Выйти
                </a>
            </div>
        </div>
    </div>
}