@page
@model LibraryAccounting.Pages.Account.AccessDeniedModel
@{
    ViewData["Title"] = "Доступ запрещен";
}
<div class="container-fluid">
    <div class="col-md-12">
        <h1>@ViewData["Title"]</h1>
        <hr>
        <h4>Вы не имеете доступа к просмотру данного ресурса.</h4>
    </div>
</div>