@page
@model LibraryAccounting.Pages.Account.AuthModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@{ ViewData["Title"] = "Вход"; }

@if (!HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
{
    <h2>@ViewData["Title"]</h2>
    <div class="row">
        <div class="col-md-4">
            <div style="font-size:20px" padding="4px">
                <span class="label label-danger">@Model.ErrMessage</span>
            </div>
            <form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
                <div class="form-group">
                    <label asp-for="Auth.UserName">Введите регистрационное имя</label>
                    <input asp-for="Auth.UserName" />
                    <span asp-validation-for="Auth.UserName" />
                </div>
                <div class="form-group">
                    <label asp-for="Auth.Password">Введите пароль</label><br>
                    <input asp-for="Auth.Password" />
                    <span asp-validation-for="Auth.Password" />
                </div>
                <div class="validation" asp-validation-summary="ModelOnly"></div>
                <div>
                    <div class="form-group">
                        <input type="submit" value="Войти" class="btn btn-outline-dark" />
                    </div>
                </div>
            </form>
        </div>
    </div>
}
@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"
            asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator"
            crossorigin="anonymous"
            integrity="sha384-rZfj/ogBloos6wzLGpPkkOr/gpkBNLZ6b6yLy4o+ok+t/SAKlL5mvXLr0OXNi1Hp"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.9/jquery.validate.unobtrusive.min.js"
            asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive"
            crossorigin="anonymous"
            integrity="sha384-ifv0TYDWxBHzvAk2Z0n8R434FL1Rlv/Av18DXE43N/1rvHyOG4izKst0f2iSLdds"></script>

}
