@page
@model LibraryAccounting.Pages.Account.AuthModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@{ ViewData["Title"] = "Личный кабинет"; }

@if (!HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
{
    <h2>Вход</h2>
    <div style="font-size:20px">
        <span class="label label-danger">@Model.ErrMessage</span>
    </div>
    <form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div>
            <div class="form-group">
                <label asp-for="Auth.UserName">Введите регистрационное имя</label>
                <input asp-for="Auth.UserName" />
                <span asp-validation-for="Auth.UserName" />
            </div>
            <div class="form-group">
                <label asp-for="Auth.Password">Введите пароль</label>
                <input asp-for="Auth.Password" />
                <span asp-validation-for="Auth.Password" />
            </div>
            <div class="form-group">
                <input type="submit" value="Войти" class="btn btn-outline-dark" />
            </div>
        </div>
    </form>
}

@if (HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
{
    <h2>@ViewData["Title"]</h2>
    <div class="row">
        <div class="col-md-12">
            <h1>Hello @HttpContextAccessor.HttpContext.User.Claims.FirstOrDefault(c => c.Type == "Name")?.Value!</h1>
            <p>Username: @HttpContextAccessor.HttpContext.User.Identity.Name</p>
        </div>

        <a asp-page-handler="Logout" asp-anti-forgery="true">
            Выйти
        </a>
    </div>
}