@page
@model LibraryAccounting.Pages.ErrorModel
@{
    ViewData["Title"] = "Error";
}
<head>
    <link rel="icon" href="data:,">
</head>

<h2 class="text-danger">Возникла ошибка при обработке вашего запроса.</h2>
<p>
    @Model.ExceptionMessage
</p>
