@page 
@model LibraryAccounting.Pages.PersonalBiblioModel
@{
    ViewData["Title"] = "Моя библиотека";
}

<h1>@ViewData["Title"]</h1>

<address>
    Кто-то сделал<br>
    Где-то живет<br>
    <abbr title="Номер телефона">Какой-то номер:</abbr>
    +7999999999
</address>

