@page
@model LibraryAccounting.Pages.OtherPages.Page2Model
@{ ViewData["Title"] = "OtherPages/Admin/Users"; }

<h1>@ViewData["Title"]</h1>
<h2>@Model.Message</h2>

<p>@Model.RouteDataGlobalTemplateValue</p>

<p>@Model.RouteDataOtherPagesTemplateValue</p>
